# Client Environment Variables

# Supabase
VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua-anon-key

# RAWG API (https://rawg.io/apidocs)
VITE_RAWG_API_URL=https://api.rawg.io/api/games
VITE_RAWG_API_KEY=sua-rawg-api-key

# API Backend URL
VITE_API_URL=http://localhost:3001
